.caroussel-wrapper {
    background: white;
    width: 100%;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
}

.swiper {
    max-width: 1500px;
    width: 100%;
}

.itemm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.itemm img {
    border-radius: 100%;
    height: 230px;
    width: 230px;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    cursor: pointer;

    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    color: white;
    font-size: 28px;
    line-height: 1;

    text-align: center;
    user-select: none;
    padding: 5px;
}

.custom-swiper-button-prev {
    left: 10px;
}

.custom-swiper-button-next {
    right: 10px;
}

@media(max-width: 1280px) {
    .swiper {
        max-width: 1100px;
    }

    .itemm img {
        height: 190px;
        width: 190px;
    }
}

@media(max-width: 1024px) {
    .itemm img {
        height: 130px;
        width: 130px;
    }

    .swiper {
        max-width: 950px;
        width: 100%;
    }

    .custom-swiper-button-prev,
    .custom-swiper-button-next {
        padding: 0px;
    }
}

@media(max-width: 800px) {

    .custom-swiper-button-prev,
    .custom-swiper-button-next {
        display: none !important;
    }
}

@media(max-width: 500px) {
    .itemm img {
        height: 90px;
        width: 90px;
    }

    .caroussel-wrapper {
        height: 150px;
    }
}

@media(max-width: 400px) {
    .itemm img {
        height: 65px;
        width: 65px;
    }

    .caroussel-wrapper {
        height: 150px;
    }
}